/* Neutral state */
.random-section {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 40% 50%;
}

.random-section.neutral-bottom-section:hover,
.random-section.minimized-bottom-section:hover {
    border-style: inset;
    box-shadow: -5px 0 30px black;
}

/* Minimized state */
.minimized-choice-button {
    transform: rotate(90deg);
    letter-spacing: 2rem;
    font-weight: 700;
    font-size: 10vh;
    background-color: transparent;
    color: white;
    padding: 2% 50%;
    border: none;
    opacity: 0.7;
}

/* Focused state */
.drink-card-with-button {
    display: flex;
    flex-direction: column;
}

.focused-choice-button {
    letter-spacing: 0.5rem;
    font-weight: 700;
    font-size: 2rem;
    padding: 2% 5%;
    background-color: rgb(100 97 101 / 68%);
    color: white;
    border: none;
    opacity: 0.7;
    align-self: end;
    width: 100%;
}

.focused-choice-button:hover {
    cursor: pointer;
    box-shadow: 10px 10px 30px black;
    opacity: 1;
}

.random-drink-button.focused-choice-button {
    background-image: url("/src/assets/drinks_3.jpg");
    background-position: 50% 50%;
    background-repeat: no-repeat;
    letter-spacing: 2rem;
    font-weight: 700;
    font-size: 5vh;
}

.random-drink-button.focused-choice-button:hover {
    color: darkgray;
    transition: all 0.1s ease-in 0s;
    border-width: 3px;
    border-style: inset;
}

.random-drink-button.focused-choice-button:active {
    color: var(--saffron);
    border-color: var(--saffron);
}
