.search-section {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/drink_6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    transition: all 0.1s ease-in-out;
}

.search-section-with-drink-card {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("/src/assets/drink_6.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
    transition: all 0.3s ease-in-out;
}

.search-section:hover {
    border-style: inset;
    box-shadow: -5px 0 30px black;
}

.minimized-choice-button:hover {
    color: darkgray;
    opacity: 1;
    cursor: pointer;
}
