.drink-card {
    display: flex;
    flex-direction: row;
    color: rgb(255 255 255);
    font-size: 4rem;
    width: 100%;
    padding: 0 5%;
    max-height: 90vh;
    overflow: hidden;
}

.drink-info {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    text-shadow: rgb(0 0 0) 1px 0 10px;
}

picture {
    display: flex;
    align-items: center;
    width: 100%;
    height: 75%;
    justify-content: center;
}

.drink-info p {
    text-align: center;
    overflow: auto;
    font-weight: 700;
    flex-basis: 50%;
    height: 25%;
}

#drink-image {
    border-radius: 50%;
    background-color: rgb(255 255 255);
    border: 10px solid rgb(124 124 124);
    height: 70%;
}

.drink-ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    line-height: 1.5;
    padding-left: 2%;
    align-self: center;
    font-weight: 700;
    overflow: auto;
    text-shadow: rgb(0 0 0) 1px 0 10px;
}

ul {
    height: 100%;
    align-content: center;
}

.ingredient {
    font-size: 3.1rem;
}

li {
    list-style-type: none;
    border-bottom: 1px solid white;
}

#no-drink-selected {
    width: 70%;
    height: 100%;
    place-content: center center;
    padding: 5%;
    background-image: url("../../assets/anonymous-drink-2.jpg");
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: black;
    background-size: contain;
}

#no-drink-selected p {
    display: flex;
    justify-content: center;
    color: white;
    font-weight: 700;
    font-size: 2rem;
    text-shadow: 0 0 13px pink;
}

@media screen and (width <= 1300px) {
    #drink-image {
        transform: scale(0.7);
    }

    .drink-info {
        width: calc(100px + 20vw);
    }
}
