.drink-card {
    display: flex;
    flex-direction: row;
    color: white;
    font-size: 4rem;
    width: 100%;
    padding: 0 10%;
    max-height: 100vh;
    overflow: hidden;
}

.drink-info {
    flex-basis: 50%;
}

picture {
    display: block;
}

.drink-info p {
    text-align: center;
    font-weight: 700;
}
#drink-image {
    border-radius: 50%;
    background-color: white;
    border: 1rem solid grey;
    height: 70%;
}

.drink-ingredients {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    line-height: 1.5;
    padding-left: 2%;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    height: 100%;
    overflow: auto;
}

ul {
    text-align: center;
    height: 100%;
    align-content: center;
}

.ingredient {
    font-size: 3.5rem;
}

li {
    list-style-type: none;
}
